.button {
	width: 170px;	
	align-self: center;
	display: flex;
	justify-content: space-between;

	&-gradient-color {
		display: block;
		width: 80px;
		height: 40px;
		background: @button-gradient-color;
		padding: 10px 0;
		border-radius: 5px;
		border: @border-button;	
		text-decoration: none;
		color: #fff;	
		text-align: center;	
	}

	&-gradient {
		display: block;
		width: 80px;
		height: 40px;		
		border-radius: 5px;
		border: @border;
		padding: 10px 0;
		background: @button-gradient;		
		text-decoration: none;
		color: #000;	
		text-align: center;		
	}	
}